.spacer {
    flex: 1 1 auto;
  }

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  // mat-toolbar {
  //       display: grid;
  //       grid-template-columns: 80%;
  //       overflow-x: scroll;
       
  //   }
  .buttons {
    display: none;
    
  }
  .menu {
     display: grid;
     justify-content: flex-end;
}
.mat-menu-content {
    color: red;
}

  }