<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>ECOM Y VOS</span>
    <span class="spacer"></span>
    <div class="buttons">
      <nav>
        <a mat-button routerLink="/inicio">Inicio</a>
        <!-- Adm -->

        <a *ngIf="authService.loggedIn()" mat-button routerLink="/capacitaciones">Capacitaciones</a>
        <!-- <a mat-button routerLink="/instructores">Instructores</a>
        <a mat-button routerLink="/alumnos">Alumnos</a>
        <a mat-button routerLink="/multiplicadores">Multiplicadores</a>
        <a mat-button routerLink="/certificados">Certificados</a> -->
        <!-- Alumnos -->
        <a *ngIf="authService.loggedIn()" mat-button routerLink="/asistencias/alumnos">Asistencia</a>
        
        <!-- Administración -->
        <button 
          *ngIf="authService.loggedIn() && authService.getRolLS()==='admin'" 
          mat-button [matMenuTriggerFor]="menu">
            Administración
        </button>
          <mat-menu #menu="matMenu"> 
            <button mat-menu-item routerLink="/admin/usuarios">Administrar Usuarios</button>
          </mat-menu>

        <!-- usuario -->
        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <a mat-raised-button routerLink="/auth/login" color="">Ingresar</a>
        </ng-container>
        <ng-template #loggedIn>
          <button mat-raised-button (click)="authService.logout()" color="warn">Salir</button>
        </ng-template>
      </nav>
    </div>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <!-- <mat-icon>dialpad</mat-icon> -->
          <span><a mat-button routerLink="/inicio">Inicio</a>
          </span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>voicemail</mat-icon> -->
          <span><a mat-button routerLink="/capacitaciones">Capacitaciones</a>
          </span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>
            <a mat-button routerLink="/instructores">Instructores</a>
          </span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>
            <a mat-button routerLink="/alumnos">Alumnos</a>
          </span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>
            <a mat-button routerLink="/multiplicadores">Multiplicadores</a>
          </span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>
            <a mat-button routerLink="/certificados">Certificados</a>
          </span>
        </button>

        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>
            <a mat-raised-button routerLink="/auth/login" color="">Ingresar</a>
          </span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>