.spacer {
    flex: 1 1 auto;
  }

/*botón desplegable oculto.*/
.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  /* oculto el menú horizontal*/
  .buttons {
    display: none;
    
  /*muestro el botón desplegable*/  
  }
  .menu {
     display: grid;
     justify-content: flex-end;
}

.mat-menu-item {
  color: white !important;
}

button.mat-menu-item{
    background-color: #3f51b5;
}


button.mat-menu-item:hover {
    background: #3f51b1c4;
    color: #3f51b1 !important;
}

  }