<div class="content">
    <div *ngIf="authService.getRolLS()==='admin' || authService.getRolLS()==='instructor'"  class="agregar">
        <button mat-raised-button routerLink="/capacitaciones/agregar" color="primary">Agregar
            Capaticación</button>
    </div>
    <h1>Capacitaciones</h1>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>


        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- organizacion Column -->
        <ng-container matColumnDef="convenio">
            <th mat-header-cell *matHeaderCellDef> Organización </th>
            <td mat-cell *matCellDef="let element"> {{element.convenio}} </td>
        </ng-container>

        <!-- ubicacion Column -->
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>

        <!-- fecha Column -->
        <ng-container matColumnDef="fechainicio">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fechainicio | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Accion Column -->
        <ng-container matColumnDef="accion">
            <ng-container *ngIf="authService.getRolLS()==='admin' || authService.getRolLS()==='instructor'"> 
                <th mat-header-cell *matHeaderCellDef> Accion </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary" routerLink="/asistencias/ver/{{element.id}}" matTooltip="Asistencias"
                        aria-label="Asistencias">
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" routerLink="/capacitaciones/ver/{{element.id}}"
                        matTooltip="Ver detalles del curso" aria-label="detalles">
                        <mat-icon>read_more</mat-icon>
                    </button>
                    <button mat-mini-fab color="accent" routerLink="/capacitaciones/asignar/{{element.id}}"
                        matTooltip="Asignar Instructores y Alumnos" aria-label="Asignar">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </td>

            </ng-container>
            <!-- SI ES ROL ALUMNO -->
            <div *ngIf="authService.getRolLS()==='alumno'"> 
                <th mat-header-cell *matHeaderCellDef> Inscribirse </th>
                <td mat-cell *matCellDef="let element">
                    
                    <button mat-mini-fab color="primary" routerLink="/capacitaciones/ver/{{element.id}}"
                        matTooltip="Ver detalles del curso" aria-label="detalles">
                        <mat-icon>read_more</mat-icon>
                    </button>
                    <!-- Verifico Cap<-...->Usuario -->
                    <ng-container *ngIf="element.haveThisUser;else noInstructor">
                        <button mat-mini-fab color="warn" 
                            matTooltip="Quitar Inscripcion" aria-label="quitar"
                            (click)="quitarInscripcion(element.id)">
                            <mat-icon>clear</mat-icon>
                        </button>
                   </ng-container>
                   <ng-template #noInstructor>
                        <button mat-mini-fab color="accent" (click)="Inscribirse(element.id)"
                            matTooltip="Inscribirse" aria-label="Inscribirse">
                            <mat-icon>person_add</mat-icon>
                        </button>
                   </ng-template>     
                </td>
            </div>
            
            
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos para... "{{input.value}}"</td>
        </tr>
    </table>
</div>