<div class="content">
    <div *ngIf="this.data.cap" >
        <h1>{{this.data.cap.nombre | uppercase}}</h1>
        <h2>
            {{this.data.cap.convenio | uppercase}} |
            {{this.data.cap.direccion}} |
            {{this.data.cap.fechainicio | date: 'dd/MM/yyyy'}} a
            {{this.data.cap.fechafin | date: 'dd/MM/yyyy'}} |
            {{this.data.cap.horainicio}} a
            {{this.data.cap.horafin}}
        </h2>
    </div>
        <br>
        <hr />
    <h1>Asistencias</h1>

    <!-- <table mat-table [dataSource]="dataSourceAsis$ | async">

        <ng-container *ngFor="let disCol of (columns$ | async); let colIndex = index" matColumnDef="{{disCol}}">
          <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
          <td mat-cell *matCellDef="let element">{{element[disCol]}}</td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="(columns$ | async)"></tr>
        <tr mat-row *matRowDef="let row; columns: (columns$ | async)"></tr>
    </table> -->


    <mat-form-field>
        <mat-label>Filtro nombre de usuario</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Lopez" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSourceAsis" class="mat-elevation-z8">

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container> -->

        <!-- Nombre Column -->
        <!-- <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.nombre}} </td>
        </ng-container> -->

        <!-- apellido Column -->
        <!-- <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.apellido}} </td>
        </ng-container> -->

        <ng-container *ngFor="let disCol of displayedColumnsAsis; let colIndex = index" matColumnDef="{{disCol}}">
            <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
            <!-- <ng-container matColumnDef="{{disCol}}">
                <th mat-header-cell *matHeaderCellDef> {{disCol}} </th>
                <td mat-cell *matCellDef="let element"> {{element.Persona.apellido}} </td>
            </ng-container> -->
            <td mat-cell *matCellDef="let element "> {{element[disCol]}} </td>
        </ng-container>

        <!-- Accion Column -->
        <!-- <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
               <ng-container *ngIf="element.inThisCap;else noAlumno">
                    <button mat-mini-fab color="warn" 
                        matTooltip="Quitar Alumno" aria-label="quitar"
                        (click)="quitarCapacitacion(element.id)">
                        <mat-icon>clear</mat-icon>
                    </button>
               </ng-container>
               <ng-template #noAlumno>
                    <button mat-mini-fab color="primary" 
                        matTooltip="Asignar como Alumno" 
                        aria-label="añadir"
                        (click)="asignarCapacitacion(element.id)">
                        <mat-icon>person_add</mat-icon>
                    </button>
               </ng-template>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAsis"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAsis;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos para alumno: "{{input.value}}"</td>
        </tr>
    </table>
</div>