<div class="content">
    <form>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Agregar Alumno</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Cuil</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary">Guardar</button>
            </mat-card-content>
        </mat-card>
    </form>

</div>