<div class="content">
    <form>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Agregar Alumno</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Cuil</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Capacitación</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                        <mat-select-trigger>
                            {{toppings.value ? toppings.value[0] : ''}}
                            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'otro' : 'otros'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary">Guardar</button>
            </mat-card-content>
        </mat-card>
    </form>

</div>