<div class="login-form-flex">
    <!-- <form [formGroup]="form" (ngSubmit)="login($event)"> -->
    <form [formGroup]="form" (ngSubmit)='signIn()'>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Ingresar</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input formControlName = "nombreusuario" name="nombreusuario" placeholder="Usuario"
                                matInput type="text">
                                <mat-error *ngIf="form.get('nombreusuario').errors?.required">nombre de usuario es requerido</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input formControlName = "password" name="password" placeholder="Contraseña" matInput
                                type="password">
                                <mat-error *ngIf="form.get('password').errors?.required">contraseña es requerida</mat-error>

                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary">Ingresar</button>
                <br><br>
                <a routerLink="/auth/registrar">Registrarse</a>
            </mat-card-actions>
        </mat-card>
        <p> {{errorMessage}}</p>
    </form>
   

</div>