/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css'


/* for sidenav to take a whole page */
// html, body { 
//     margin: 0;
//     height: 100%;
// }

/* Custom Theme */
@import "~@angular/material/theming";
@include mat-core();
// $angular-primary: mat-palette($mat-teal, 500, 100, 900);
$angular-primary: mat-palette($mat-indigo, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

/* Dark Theme*/
$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* mobile */
@media screen and (max-width: 768px) {
    .content {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        width: 100%;
        margin: 3em 0 3em 0;
        overflow-x: scroll;
    }

    table.mat-table {
        width: 80%;
        overflow-x: scroll;
      }
}