@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 20px 0px;
  margin-top: 20px;
  background-color: mat-color($primary);

  .container{
  width: 90%;
  max-width: 1200px;
  margin: 0.5em auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .box {
    
    h3 {
      color: white;
    }
    input{
      color: white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
    img {
      width: 200px;
      height: 75px;
    }
  }
}
@media screen and (max-width: 768px) {
  footer .grid {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 3em;
  }
}