<footer>
    <div class="container">
        <div class="grid">
            <div class="box">
                <img src="assets/img/logoECOM.png" alt="">
            </div>
            <div class="box">
                <!--<h3>SITIO</h3>
                <ul>
                    <li><a routerLink="/">Capacitaciones</a></li>
                    <li><a routerLink="/">Alumnos</a></li>
                </ul>-->
            </div>
            <div class="box">
                <h3>Contacto</h3>
                <ul>
                    <li><a routerLink="/">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>