<div class="col-6">
    <p>col 6</p>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <h3>Productos</h3>

                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h3>Acerca de PlatziStore</h3>
                    <ul>
                        <li><a routerLink="/">Sobre nosotros</a></li>
                        <li><a routerLink="/">Nuestras</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Contacto</h3>

                </div>
            </div>
        </div>
    </div>
</footer>