<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-bold mb-40">Our Mission</h2>
            <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est
                lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum
                convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at
                vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida
                ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
        </div>

        <div class="col-md-6">
            <img src="assets/img/mission.jpg" alt="image" class="img-responsive">
        </div>
    </div>

</div>