<main class="content">
    <div class="grid">
        <div>
            <article class="text-card">
                <img src="./assets/img/ECOM_y_VOS_color.png" alt="">
                
                <p>
                    Ecom Chaco cuenta con el programa “Ecom y vos”, una solución integral enfocado en acercar a los barrios de toda la provincia, el uso de plataformas de Gobierno tendientes a agilizar trámites y a la despapelización de la administración pública. <br><br>  
                    A través de capacitaciones, se brinda la información y formación necesarias para que cada ciudadana y ciudadano pueda acceder y manejar las herramientas tecnológicas que implementa el Estado. <br><br>
                    El objetivo es fomentar el desarrollo de habilidades de gestión y tecnología de la información, brindando herramientas que permitan el desarrollo y manejo de los programas digitales. Además, también busca promover el uso de redes sociales como Facebook e Instagram para promoción de emprendimientos, y de esta forma fortalecer las economías locales.
                </p>

            </article>
        </div>
        <div class="img-card">
            <img src="./assets/img/pie_silueta_ciudad_3.png" alt="">
        </div>

        <!-- <div>
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <article class="text-card">
            <h1>Alumnos</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium numquam, veritatis esse ab
                recusandae
                iure vitae, harum ut repellendus, beatae dicta sed nostrum molestias praesentium laboriosam ad cumque.
                Necessitatibus, placeat.
            </p>

        </article>
        <div>
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <article class="text-card">
            <h1>Multiplicadores</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium numquam, veritatis esse ab
                recusandae
                iure vitae, harum ut repellendus, beatae dicta sed nostrum molestias praesentium laboriosam ad cumque.
                Necessitatibus, placeat.
            </p>

        </article> -->

    </div>
</main>