<main class="content">
    <div class="grid">
        <div class="img-card">
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <article class="text-card">
            <h1>Capacitaciones</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium numquam, veritatis esse ab
                recusandae
                iure vitae, harum ut repellendus, beatae dicta sed nostrum molestias praesentium laboriosam ad cumque.
                Necessitatibus, placeat.
            </p>

        </article>

        <div>
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <article class="text-card">
            <h1>Alumnos</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium numquam, veritatis esse ab
                recusandae
                iure vitae, harum ut repellendus, beatae dicta sed nostrum molestias praesentium laboriosam ad cumque.
                Necessitatibus, placeat.
            </p>

        </article>
        <div>
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <article class="text-card">
            <h1>Multiplicadores</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium numquam, veritatis esse ab
                recusandae
                iure vitae, harum ut repellendus, beatae dicta sed nostrum molestias praesentium laboriosam ad cumque.
                Necessitatibus, placeat.
            </p>

        </article>

    </div>
</main>