.content {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    //grid-template-columns: repeat(6,1fr);
    //grid-template-rows: 200px;
    //grid-template-rows: minmax(100px,auto);
    column-gap: 1em;
    row-gap: 3em;
    justify-items: center; //alineacion y (fila entera)
    //align-items: center; //align x
    //align-self: start; // alineacion (para cada uno de los elementos)
}

.text-card img {
    display:block; /* para centrar */
    margin:40px auto 40px auto; /* para centrar */
    width: 50%;
    height: 50%;
}

.text-card p{ 
    display:block;
    margin:20px auto 20px auto;
    font-size: 1.5em;
    line-height: 1.5em;
}

.img-card img{
    display:block;
    margin:20px auto 20px auto;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        row-gap: 0.1em;
    }
    article {
        margin-bottom: 5em;
    }

    .text-card p{   
        font-size: 1.0em;
    }
    
    .text-card img {
        width: 50%;
        height: 30%;
        display:block;
        margin:40px auto 40px auto;
        
    }
    
    .img-card img{
        width: 100%;
        height: 100%;
        display:block;
        margin:20px auto 20px auto;
    }
}
