<div class="content">

<div *ngIf="capacitacion" >
    <h1>{{capacitacion.nombre | uppercase}}</h1>
    <h2>
        {{capacitacion.convenio | uppercase}} |
        {{capacitacion.direccion}} |
        {{capacitacion.fechainicio | date: 'dd/MM/yyyy'}} a
        {{capacitacion.fechafin | date: 'dd/MM/yyyy'}} |
        {{capacitacion.horainicio}} a
        {{capacitacion.horafin}}
    </h2>
</div>
    <br>
    <hr />
    <h1>Asignar Instructores</h1>
    <mat-form-field>
        <mat-label>Filtro nombre de usuario</mat-label>
        <input matInput (keyup)="applyFilterInst($event)" placeholder="" #input>
    </mat-form-field>

    <table  mat-table [dataSource]="dsInstructores" class="mat-elevation-z8">
        
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="nombreusuario">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreusuario}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.Persona.nombre}} </td>
            </ng-container>

            <!-- apellido Column -->
            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.Persona.apellido}} </td>
            </ng-container>

            <!-- cuil Column -->
            <ng-container matColumnDef="cuil">
                <th mat-header-cell *matHeaderCellDef> Cuil </th>
                <td mat-cell *matCellDef="let element"> {{element.Persona.cuil}} </td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.Persona.email}} </td>
            </ng-container>


            <!-- Accion Column -->
            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> Accion </th>
                <td mat-cell *matCellDef="let element">
                   <ng-container *ngIf="element.inThisCap;else noInstructor">
                        <button mat-mini-fab color="warn" 
                            matTooltip="Quitar Instructor" aria-label="quitar"
                            (click)="quitarCapacitacion(element.id)">
                            <mat-icon>clear</mat-icon>
                        </button>
                   </ng-container>
                   <ng-template #noInstructor>
                        <button mat-mini-fab color="primary" 
                            matTooltip="Asignar como Instructor" 
                            aria-label="añadir"
                            (click)="asignarCapacitacion(element.id)">
                            <mat-icon>person_add</mat-icon>
                        </button>
                   </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInst"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInst;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Sin datos para usuario: "{{input.value}}"</td>
            </tr>
        
        
    </table>
    <br>
    <hr />
    <h1>Asignar Multiplicador</h1>
    <mat-form-field>
        <mat-label>Filtro nombre de usuario</mat-label>
        <input matInput (keyup)="applyFilterAl($event)" placeholder="Ej. Lopez" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dsMultiplicadores" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

         <!-- Position Column -->
         <ng-container matColumnDef="nombreusuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreusuario}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.nombre}} </td>
        </ng-container>


        <!-- apellido Column -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.apellido}} </td>
        </ng-container>

        <!-- cuil Column -->
        <ng-container matColumnDef="cuil">
            <th mat-header-cell *matHeaderCellDef> Cuil </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.cuil}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.email}}</td>
        </ng-container>

        <!-- Accion Column -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
               <ng-container *ngIf="element.inThisCap;else noMultiplicador">
                    <button mat-mini-fab color="warn" 
                        matTooltip="Quitar Multiplicador" aria-label="quitar"
                        (click)="quitarCapacitacion(element.id)">
                        <mat-icon>clear</mat-icon>
                    </button>
               </ng-container>
               <ng-template #noMultiplicador>
                    <button mat-mini-fab color="primary" 
                        matTooltip="Asignar como Multiplicador" 
                        aria-label="añadir"
                        (click)="asignarCapacitacion(element.id)">
                        <mat-icon>person_add</mat-icon>
                    </button>
               </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAlu"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMulti;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos para usuario: "{{input.value}}"</td>
        </tr>
    </table>

    <br>
    <hr />
    <h1>Asignar Alumnos</h1>
    <mat-form-field>
        <mat-label>Filtro nombre de usuario</mat-label>
        <input matInput (keyup)="applyFilterAl($event)" placeholder="Ej. Lopez" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dsAlumnos" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

         <!-- Position Column -->
         <ng-container matColumnDef="nombreusuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreusuario}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.nombre}} </td>
        </ng-container>


        <!-- apellido Column -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.apellido}} </td>
        </ng-container>

        <!-- cuil Column -->
        <ng-container matColumnDef="cuil">
            <th mat-header-cell *matHeaderCellDef> Cuil </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.cuil}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Persona.email}}</td>
        </ng-container>

        <!-- Accion Column -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
               <ng-container *ngIf="element.inThisCap;else noAlumno">
                    <button mat-mini-fab color="warn" 
                        matTooltip="Quitar Alumno" aria-label="quitar"
                        (click)="quitarCapacitacion(element.id)">
                        <mat-icon>clear</mat-icon>
                    </button>
               </ng-container>
               <ng-template #noAlumno>
                    <button mat-mini-fab color="primary" 
                        matTooltip="Asignar como Alumno" 
                        aria-label="añadir"
                        (click)="asignarCapacitacion(element.id)">
                        <mat-icon>person_add</mat-icon>
                    </button>
               </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAlu"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAlu;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos para usuario: "{{input.value}}"</td>
        </tr>
    </table>
    
</div>