<div class="content">
    <h1>Capacitación</h1>
    <!-- <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field> -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 capacitacion">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- organizacion Column -->
        <ng-container matColumnDef="organizacion">
            <th mat-header-cell *matHeaderCellDef> Organización </th>
            <td mat-cell *matCellDef="let element"> {{element.organizacion}} </td>
        </ng-container>

        <!-- ubicacion Column -->
        <ng-container matColumnDef="ubicacion">
            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
            <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
        </ng-container>

        <!-- fecha Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos... "{{input.value}}"</td>
        </tr>
    </table>
    <br>
    <hr />
    <h1>Asignar Instructores</h1>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> Juan José </td>
        </ng-container>

        <!-- apellido Column -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> Lopez </td>
        </ng-container>

        <!-- cuil Column -->
        <ng-container matColumnDef="cuil">
            <th mat-header-cell *matHeaderCellDef> Cuil </th>
            <td mat-cell *matCellDef="let element"> 20-12345612-12 </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> email-instructor@ecom.com </td>
        </ng-container>

        <!-- Accion Column -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="primary" matTooltip="Asignar como Instructor" aria-label="añadir">
                    <mat-icon>person_add</mat-icon>
                </button>
                <button mat-mini-fab color="warn" matTooltip="Quitar como Instructor" aria-label="quitar">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsInst"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInst;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos... "{{input.value}}"</td>
        </tr>
    </table>

    <br>
    <hr />
    <h1>Asignar Alumnos</h1>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Lopez" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> Pedro </td>
        </ng-container>

        <!-- apellido Column -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> Perez </td>
        </ng-container>

        <!-- cuil Column -->
        <ng-container matColumnDef="cuil">
            <th mat-header-cell *matHeaderCellDef> Cuil </th>
            <td mat-cell *matCellDef="let element"> 12-12123123-12 </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> email-alumno@email.com </td>
        </ng-container>

        <!-- Accion Column -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="primary" matTooltip="Asignar como Alumno" aria-label="añadir">
                    <mat-icon>person_add</mat-icon>
                </button>
                <button mat-mini-fab color="warn" matTooltip="Quitar Alumno" aria-label="quitar">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAlu"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAlu;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos... "{{input.value}}"</td>
        </tr>
    </table>
</div>